certifi==2019.3.9
chardet==3.0.4
Django==1.11.20
django-cors-headers==2.5.2
django-inspectdb-refactor==0.3
django-mssql==1.8
django-pyodbc-azure==1.11.0.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
idna==2.8
PyJWT==1.7.1
pymssql==2.1.4
pyodbc==4.0.25
pytz==2018.9
requests==2.21.0
SQLAlchemy==1.2.17
urllib3==1.24.1