{% extends "base2.html" %}
{% block title %}Arriendos y ventas de propiedades{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="crumbs">
                <ul>
                    <li><a href="/"> Inicio</a></li>
                    <li ><a class = "current" href="#">Publicar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row margin-button-form-2">
        <div class="col-md-3">
           <div>
                <div class="card-flat card-block ">
                   <div class="margin-left-form">
                       <div>
                            <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                            <label class="contenido"><span class="usernameLogin"></span></label>
                        </div>
                        <div>
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            <label class="contenido"><span class="plan"></span></label>
                        </div>
                   </div>
                </div>
            </div>
            <div class="sticky border filtersContainer" id="filtersContainer">
                <div class="userOn filterContainer filtro p-4 bg-white">
                    <div class="panel_filter">
                        &nbsp;&nbsp;
                        <label class="destacado_lbl margin-top-form-4">Favoritos</label>
                    </div>
                </div>
                <div class="userOn filterContainer filtro bg-white">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active"><i class="fa fa-pencil pull-right" aria-hidden="true"></i> Publicar aviso</a>
                        <a href="/propiedades/" class="list-group-item list-group-item-action"><i class="fa fa-binoculars pull-right" aria-hidden="true"></i> Buscar propiedad</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-cog pull-right" aria-hidden="true"></i> Servicios adicionales</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-flat departure-card card-block ">
                 <label class="titulo"><i class="fa fa-home" aria-hidden="true"></i> Publicar aviso</label>
                <br>
                 <form id="formDataProp" class="omb_loginForm" method="post" role="form">
                    <div class="form-row">
                         <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="cmbTipoPropiedad" class="titulo-campo-form">Tipo propiedad</label>
                                   	<select id = "cmbTipoPropiedad" name="cmbTipoPropiedad" class="selectpicker" data-live-search="false" data-live-search-style="begins">
                                        <option value="-1" selected>Tipo propiedad</option>
										<option value="1" >Departamento</option>
										<option value="2">Casa</option>
										<option value="3">Oficina</option>
										<option value="4">Local comercial</option>
										<option value="5">Sitio</option>
										<option value="6">Estacionamiento</option>
										<option value="7">Bodega</option>
									</select>
                                </div>
                                <div class="col-md-6">
                                    <label for="cmbOperacion" class="titulo-campo-form">Operación</label>
                                    <select   id = "cmbOperacion" name="cmbOperacion" class="form-control selectpicker" data-live-search="false" data-live-search-style="begins" >
                                        <option value="1">Venta</option>
                                        <option value="2" selected>Arriendo</option>
                                        <option value="3">Arriendo por temproada</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtTitulo" class="titulo-campo-form">Titulo</label>
                            <input class="col-md-12 form-control" name="txtTitulo" id="txtTitulo" placeholder="" required>
                             <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="txtDescripcion" class="titulo-campo-form">Descripción</label>
                            <textarea id="txtDescripcion" name="txtDescripcion" required data-length-min="50" data-length-max="-1" rows="8" cols="45" class="col-md-12 form-control"></textarea>
                             <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="titulo-campo-form">Equipamiento</label>
                            <div class="form-group field-expand" style="display: block;">
                                <div class="col-mod-12">
                                    <label class="col-md-5 control control--checkbox"><input name="Quincho" type="checkbox" value="quincho">Quincho
                                         <div class="control__indicator"></div>
                                    </label>
                                    <label class="col-md-5 control control--checkbox"><input name="Gimnasio" type="checkbox" value="gimnasio">Gimnasio
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                <div class="col-mod-12">
                                    <label class="col-md-5 control control--checkbox"><input name="Lavandería" type="checkbox" value="lavandería">Lavandería
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="col-md-5 control control--checkbox"><input name="Piscina" type="checkbox" value="piscina">Piscina
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                                 <div class="col-mod-12">
                                    <label class="col-md-5 control control--checkbox"><input name="Bodega" type="checkbox" value="bodega">Bodega
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="col-md-5 control control--checkbox">
                                        &nbsp;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">

                            <label for="txtDireccion" class="titulo-campo-form">Dirección</label>
                            <!--calle,N°,depto., población-->
                            <input class="col-md-12 form-control" name="txtDireccion" id="txtDireccion" required placeholder="">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cmbUbicacion" class="titulo-campo-form">Ubicación</label>
                            <select
                                     data-validation = " length "
                                     data-validation-length = " min2 "
                                     data-validation-error-msg = " Debe seleccionar al menos dos opciones "
                                     data-validation-event = " change "
                                    class="selectpicker" name = "cmbUbicacion" id="cmbUbicacion" data-live-search="true"  >
                                <option selected value="-1">Ubicación</option>
                                {% for value,name in options.items %}
                                    <option  value="{{value}}">{{name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cmbDormitorio" class="titulo-campo-form">Dormitorio</label>
                            <!--calle,N°,depto., población-->
                            <select id = "cmbDormitorio" name="cmbDormitorio" class="selectpicker" data-live-search="false" data-live-search-style="begins">
                                <option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">+5</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cmbBanno" class="titulo-campo-form">Baño</label>
                            <!--calle,N°,depto., población-->
                              <select id = "cmbBanno" name="cmbBanno" class="selectpicker" data-live-search="false" data-live-search-style="begins">
                                <option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">+5</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cmbEstacionamiento" class="titulo-campo-form">Estacionamiento</label>
                            <!--calle,N°,depto., población-->
                             <select id = "cmbEstacionamiento" name="cmbEstacionamiento" class="selectpicker" data-live-search="false" data-live-search-style="begins">
                                <option value="-1" >-------</option>
                                <option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">+5</option>
                            </select>

                        </div>
                        <div class="form-group col-md-3">
                            <label class="titulo-campo-form">Sup.Total</label>
                            <!--calle,N°,depto., población-->
                            <div class="dropdown form-group">
                                <button class="btn dropdown-toggle box_range_form form-control" type="button" id="ddl_area_filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tamaño
                                </button>
                                <div id="ddl_mnu_tamano" class="dropdown-menu" aria-labelledby="dropdownMenuButton" onClick="event.stopPropagation();">
                                    <button type="button" class="close margin-right-form" >&times;</button>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <div class="col-md-12">
                                              <div class="col-md-12">
                                                    <input type="text" class="form-control" value="" name="min-size-filter" id="min-size-filter" placeholder="Mín. m²" onkeypress="return validate_numeric(event)" maxlength="10">
                                              </div>
                                              <div class="col-md-12">
                                                    <input type="text" class="form-control" value="" name="max-size-filter" id="max-size-filter" placeholder="Máx. m²" onkeypress="return validate_numeric(event)" maxlength="10">
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button id="btn_size_filter" type="button" class="btn btn-primary btn-sm margin-top-form">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="col-md-12">
                           <hr/>
                       </div>
                       <div class="form-group col-md-3">
                           <button type="submit" id="btnGuardar" class="btn btn-large btn-primary btn-block">Guardar cambios</button>
                       </div>
                       <div class="form-group margin-top-form col-md-3">
                           (*) Datos obligatorios
                       </div>
                   </div>
                   </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_script %}
<script>

     $(document).ready(function(){

        initLocal();
        $('#formDataProp').validator().on('submit', function (e) {
            if (!e.isDefaultPrevented()){
                run_waitMe($(".omb_loginForm"), 2, 'facebook');
                var form = $(this).serialize();
                $.ajax
                ({
                  type: "POST",
                  data: form,
                  url: "/SetProperty/",
                  async: true,
                  dataType: 'json',
                  beforeSend : function(req) {
                    req.setRequestHeader('Authorization', localStorage.token);
                  },
                  success: function (data){
                    if (data.error!='1'){
                        ok_msg("Datos generales",data.msg,2500);
                        $('.omb_loginForm').waitMe('hide');
                    }
                  },
                  error: function(xhr, status, error) {
                     error_msg("Error","Se ha producido un error. Intente realizar esta acción nuevamente.",2500);
                  }
                });
            }
            return false;
        });
     });
     function initLocal(){
        $(".titulo").find("i").css("color","#007FAD");
        $(".list-group a").each(function(index){
            $(this).find("i").css("color","#007FAD");
        })
     }
</script>
{% endblock %}