{% extends "base.html" %}
{% block title %}Arriendos y ventas de propiedades{% endblock %}
{% block content %}
<div class="margin-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="crumbs">
                    <ul>
                        <li><a href="/"> Inicio</a></li>
                        <li ><a class = "current" href="#">Cuenta de usuario</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="menuCabecera">
                    <button id="btnDatosComerciales" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Datos comercial</button>
                    <button id="btnPlanes" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-list-ol" aria-hidden="true"></i> Planes y productos</button>
                    <button id="btnCuenta" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-user" aria-hidden="true"></i> Cuenta de usuario</button>
                    <button id="btnDatosGenerales" type="button" class="margin-top-form margin-left-form top-button pull-right"><i class="fa fa-pencil" aria-hidden="true"></i> Datos generales</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin-button-form-2">
             <div class="col-md-3">
               <div>
                    <div>
                        <button type="button" class="top-badge"> Publicados <span class="badge">7</span></button>
                        <button type="button" class="top-badge"> Por Publicar <span class="badge">7</span></button>
                    </div>
                    <div class="card-flat card-block ">
                       <div class="margin-left-form">
                       <div>
                            <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                            <label class="contenido"><span class="usernameLogin"></span></label>
                        </div>
                        <div>
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            <label class="contenido"><span class="plan"></span></label>
                        </div>
                       </div>
                    </div>
                </div>
                <div class="sticky border filtersContainer" id="filtersContainer">
                    <div class="userOn filterContainer filtro p-4 bg-white">
                        <div class="panel_filter">&nbsp;&nbsp;
                            <label class="destacado_lbl margin-top-form-4">Opciones cuenta de usuario</label>
                        </div>
                    </div>
                    <div class="userOn filterContainer filtro bg-white">
                        <div class="list-group">
                            <a href="/propiedades/publicar/" class="list-group-item list-group-item-action"><i class="fa fa-pencil pull-right" aria-hidden="true"></i> Publicar aviso</a>
                            <a href="/propiedades/" class="list-group-item list-group-item-action"><i class="fa fa-binoculars pull-right" aria-hidden="true"></i> Propiedades</a>
                            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-cog pull-right" aria-hidden="true"></i> Otros servicios</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-9">
                   <div class="card-flat departure-card card-block ">
                       <label class="titulo"><i class="fa fa-user" aria-hidden="true"></i> Mi configuración-cuenta de usuario</label>
                       <br>
                      <form id="formDataAccount" class="omb_loginForm" method="post" role="form" novalidate>
                        <input type="hidden" id = "tokenHd" name="tokenHd">
                        <input type="hidden" id = "hdEmail" name="hdEmail">
                        <input type="hidden" id = "hdUbicacion" name="hdUbicacion">
                        <div class="form-row">
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="txtClaveActual" class="titulo-campo-form">Contraseña actual</label> <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    <input class="form-control" name="txtClaveActual" id="txtClaveActual" type="password" data-minlength="6"  data-error="Debe ingresar un mínimo de 6 caracteres" placeholder="" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="txtClave1" class="titulo-campo-form">Nueva contraseña</label>
                                    <input class="form-control" name="txtClave1" id="txtClave1" type="password" data-minlength="6" data-error="Debe ingresar un mínimo de 6 caracteres" placeholder="" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="txtClave2" class="titulo-campo-form">Repetir nueva contraseña</label>
                                    <input class="form-control" name="txtClave2" id="txtClave2" type="password" data-minlength="6" data-error="Debe ingresar un mínimo de 6 caracteres" placeholder="" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                   <hr/>
                                </div>
                                <div class="form-group col-md-3">
                                   <button type="button" id="btnGuardar" class="btn btn-large btn-primary btn-block">Guardar cambios</button>
                                </div>
                            </div>

                       </div>
                       </form>
                   </div>
             </div>
        </div>
    </div>
</div>
 {% endblock %}
{% block content_script %}
<script>
    $(document).ready(function(){
        initLocal();
        validator();
        $("#btnGuardar").click(function(){
            if ($("#formDataAccount").valid()){
                run_waitMe($(".omb_loginForm"), 2, 'facebook');
                var form = $("#formDataAccount").serialize();
                $.ajax
                ({
                  type: "POST",
                  data: form,
                  url: "/usuarios/cuentas/configuraciones/",
                  async: true,
                  dataType: 'json',
                  beforeSend : function(req) {
                    req.setRequestHeader('Authorization', localStorage.token);
                  },
                  success: function (data){
                    $("#txtClaveActual").val("");
                    $("#txtClave1").val("");
                    $("#txtClave2").val("");
                    if (data.error!='1')
                        ok_msg("Datos generales",data.msg,2500);
                    else
                        error_msg('Configuración cuenta de usuario',data.msg,2500);
                    $('.omb_loginForm').waitMe('hide');
                  },
                  error: function(xhr, status, error) {
                     error_msg("Error","Se ha producido un error. Intente realizar esta acción nuevamente.",2500);
                  }
                });
            }
        });
        $("#btnDatosGenerales").click(function(){
            window.location = "/usuarios/configuraciones/";
        });
        $("#btnPlanes").click(function(){
            window.location = "/usuarios/planes";
        });
        $("#btnDatosComerciales").click(function(){
            window.location = "/usuarios/comerciales/editar";
        });
        /*
         $('#formDataAccount').validator().on('submit', function (e) {
             if (!e.isDefaultPrevented()){
                run_waitMe($(".omb_loginForm"), 2, 'facebook');
                var form = $(this).serialize();
                $.ajax
                ({
                  type: "POST",
                  data: form,
                  url: "/SetAccount/",
                  async: true,
                  dataType: 'json',
                  beforeSend : function(req) {
                    req.setRequestHeader('Authorization', localStorage.token);
                  },
                  success: function (data){
                    if (data.error!='1'){
                        $("#txtClaveActual").val("");
                        $("#txtClave1").val("");
                        $("#txtClave2").val("");
                        ok_msg("Datos generales",data.msg,2500);
                        $('.omb_loginForm').waitMe('hide');
                    }
                  },
                  error: function(xhr, status, error) {
                     error_msg("Error","Se ha producido un error. Intente realizar esta acción nuevamente.",2500);
                  }
                });

             }
             return false;
         });
         */
    });
    function initLocal(){
        var activ_msg = '{{activar_msg}}';
        if (activ_msg == '1'){
            var msg = '{{msg}}';
            var error = '{{error}}';
            if (error != '1')
                ok_msg("Datos generales",msg,1500);
            else
                error_msg("Error",msg,2500);
        }
        $(".list-group a").each(function(index){
            $(this).find("i").css("color","#007FAD");
        })
        $(".titulo").find("i").css("color","#007FAD");
        $("#tokenHd").val(localStorage.token);
        $("#btnCuenta").find("i").css("color","cornflowerblue");
        $("#btnCuenta").css("border-color","cornflowerblue");
        $("#btnCuenta").css("background","#dcdfe6");
        $("#txtClaveActual").focus();
    }
    function validator(){
        $("#formDataAccount").validate({
            rules: {
                txtClaveActual:{
                    required: true
                },
                txtClave1: {
                    required: true
                },
                txtClave2: {
                    required: true
                }
            }
            ,
            messages : {
                txtClaveActual:{
                    required: "Ingrese contraseña actual"
                },
                txtClave1: {
                    required: "Ingrese nueva contraseña "
                },
                txtClave2: {
                    required: "Ingrese nueva contraseña "
                }
            }
        });

    }
</script>
{% endblock %}