{% extends "base2.html" %}
{% block title %}Arriendos y ventas de propiedades{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Propiedades</li>
      </ol>
    </nav>
</div>

<div class="container">
    <div class="row margin-top-form-2">
        <div class="col-md-3">
            <div class="position-fixed border filtersContainer" id="filtersContainer">
                <!--
                <div class="filterContainer filtro p-4 bg-white">
                    <div class="panel_filter">
                        &nbsp;&nbsp;
                        <label class="destacado_lbl margin-top-form-3">Filtros</label>
                    </div>
                </div>
                -->
                <div class="filterContainer filtro bg-white">
                    <h5>Situación comercial</h5>
                     <div class="form-group">
                        <select  name = "cmb_modo_portada" id="cmb_modo_portada" class="selectpicker" data-live-search="false" data-live-search-style="begins" title="">
                            <option value="-1" disabled selected style="display:none;"  data-content="<i class='fa fa-filter' aria-hidden='true'></i> cualquiera" > </option>
                            <option value="1">opcion1</option>
                            <option value="2">opcion2</option>
                        </select>
                     </div>
                </div>
                <div class="filterContainer filtro bg-white">
                    <h5>Tipo de vivienda</h5>
                     <div class="form-group">
                        <select  name = "cmb_tipo_propiedad_portada" id="cmb_tipo_propiedad_portada" class="selectpicker" data-live-search="false" data-live-search-style="begins" title="">
                            <option value="-1" disabled selected style="display:none;"  data-content="<i class='fa fa-filter' aria-hidden='true'></i> cualquiera" > </option>
                            <option value="1">opcion1</option>
                            <option value="2">opcion2</option>
                        </select>
                    </div>
                </div>
                <div class="filterContainer filtro bg-white" id="provinciaFilter">
                    <h5>Ubicación</h5>
                     <div class="form-group">
                        <select  name = "cmb_ubicacion_portada" id="cmb_ubicacion_portada" class="selectpicker" data-live-search="false" data-live-search-style="begins" title="">
                            <option value="-1" disabled selected style="display:none;"  data-content="<i class='fa fa-filter' aria-hidden='true'></i> cualquiera" > </option>
                            <option value="1">opcion1</option>
                            <option value="2">opcion2</option>
                        </select>
                    </div>
                </div>
                <div class="filterContainer filtro bg-white">
                    <h5>Estado de la vivienda</h5>
                    <div class="form-group">
                        <select  name = "cmb_estado" id="cmb_estado" class="selectpicker" data-live-search="false" data-live-search-style="begins" title="">
                            <option value="-1" disabled selected style="display:none;"  data-content="<i class='fa fa-filter' aria-hidden='true'></i> cualquiera" > </option>
                            <option value="1">opcion1</option>
                            <option value="2">opcion2</option>
                        </select>
                    </div>
                </div>
                <div class="filterContainer filtro filtersExtras bg-white">
                    <label class="advance-trigger"><i style="color:#00aeef;" class="fa fa-plus-square"></i> Otras características</label>
                    <div class="clearfix"></div>
                    <div class="form-group field-expand">
                        <div class="col-mod-12">
                            <label class="col-md-6 control control--checkbox"><input  name="feature[]" type="checkbox" value="air-conditioning">Aire acond.
                                <div class="control__indicator"></div>
                            </label>

                            <label class="col-md-5 control control--checkbox"><input  name="feature[]" type="checkbox" value="Barbeque">Parrilla
                                 <div class="control__indicator"></div>
                            </label>
                        </div>
                        <div class="col-mod-12">
                            <label class="col-md-6 control control--checkbox"><input   name="feature[]" type="checkbox" value="Dryer">Secadora
                                <div class="control__indicator"></div>
                            </label>
                            <label class="col-md-5 control control--checkbox"><input name="feature[]" type="checkbox" value="gym">Gimnasio
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                        <div class="col-mod-12">
                            <label class="col-md-6 control control--checkbox"><input name="feature[]" type="checkbox" value="laundry">Lavandería
                                <div class="control__indicator"></div>
                            </label>
                            <label class="col-md-5 control control--checkbox"><input name="feature[]" type="checkbox" value="lawn">Cesped
                                <div class="control__indicator"></div>
                            </label>

                        </div>
                        <div class="col-mod-12">
                            <label class="col-md-6 control control--checkbox"><input name="feature[]" type="checkbox" value="microwave">Microonda
                                <div class="control__indicator"></div>
                            </label>
                            <label class="col-md-5 control control--checkbox"><input name="feature[]" type="checkbox" value="shower">Ducha
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                        <div class="col-mod-12">
                            <label class="col-md-6 control control--checkbox"><input name="feature[]" type="checkbox" value="refrigerator">Refrigerador
                                <div class="control__indicator"></div>
                            </label>
                            <label class="col-md-5 control control--checkbox"><input name="feature[]" type="checkbox" value="sauna">Sauna
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                        <div class="col-mod-12">
                            <label class="col-md-6 control control--checkbox"><input name="feature[]" type="checkbox" value="swimming-pool">Piscina
                                <div class="control__indicator"></div>
                            </label>
                            <label class="col-md-5 control control--checkbox"><input name="feature[]" type="checkbox" value="tv-cable">TV Cable
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                        <div class="col-mod-12">
                            <label class="col-md-6 control control--checkbox"><input name="feature[]" type="checkbox" value="washer">Lavadora
                                <div class="control__indicator"></div>
                            </label>
                            <label class="col-md-5 control control--checkbox"><input name="feature[]" type="checkbox" value="wifi">WiFi
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" filterContainer filtro bg-white row">
                    <div class="col-12">
                        <button id="btn_filtro_buscar" type="button" class="btn btn-primary col-md-12" ><span id="lbl_srch_map"> Buscar </span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group no-margin">
                        <div class="input-search input-icon">
                            <input type="text" id="search_ctl" class="search-text form-control" value=""  placeholder="Buscar por palabra..">
                            <!--<label class="pull-right" style="display:none;"><span class="number-word">0</span> coincidencia(s)</label>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="margin-top-form-4 important">Orden </label>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" name = "cmb_orden" id="cmb_orden">
                            <option>Destacados</option>
                            <option>Precio</option>
                            <option selected>Fecha publicación</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm order-opt" onclick="load_order_msg()"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></button>
                </div>
                <div class="col-md-12">
                    <label class="pull-right"><span class="sort_list" id="spn_orden"></span></label>
                </div>
            </div>

            <div>
                <div class="page" id="page1">
                    <div class="row">
                        <div class="card departure-card">
                                <div class="card-block ">
                                    <div class="col-md-4 margin-left">
                                        <div id="carousel_prop1" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                              <li data-target="#carousel_prop1" data-slide-to="0" class=""></li>
                                              <li data-target="#carousel_prop1" data-slide-to="1" class=""></li>
                                              <li data-target="#carousel_prop1" data-slide-to="2" class="active"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item">
                                                    <img id="img1" onClick="modal_details(this);" src="https://clvstc.com/up/photo/1/LXUMDqX4_077376bc49ef86b94abf1a6aafbbbaf5_small.jpg" alt="Los Angeles" style="width:100%;">
                                                </div>
                                                <div class="item">
                                                    <img id="img2" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/Ie5kff3o_e6741ee781a81639d54ac8a51cb9b887_small.jpg" alt="Chicago" style="width:100%;">
                                                </div>

                                                <div class="item active">
                                                    <img id="img3" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/BHkw07Mc_45eed4631d0cde791c5daea9f2552517_small.jpg" alt="New York" style="width:100%;">
                                                </div>
                                            </div>
                                            <!-- controls -->
                                            <a class="left carousel-control" href="#carousel_prop1" data-slide="prev">
                                              <span class="glyphicon glyphicon-chevron-left"></span>
                                              <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel_prop1" data-slide="next">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                              <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="margin-top-form search-key">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="label label-success">Inmobiliaria Siena</span>
                                                </div>
                                                <div class="col-md-8 text-right">
                                                    <div class="shared-panel pull-right">
                                                        <a target="_blank" class="shared fb" title="Comparte Facebook"></a>
                                                        <a target="_blank" class="shared tt" title="Comparte Twitter"></a>
                                                        <!--<a target="_blank" class="shared gp" title="Comparte Google+"></a>-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9 text-left">
                                                            <label class="place_list">Jose Victorino Lastarria, Santiago, Región Metropolitana</label>
                                                        </div>
                                                        <div class="col-md-3 text-right">
                                                            <label class="date_list">01/09/2018</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9 text-left">
                                                            <label class="price_list">$ 420.000</label>
                                                        </div>
                                                        <div class="col-md-3 text-right">
                                                             <span class="label label-danger">En Arriendo</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="additional_principal">
                                               <i class="fa fa-bed" aria-hidden="true"> </i> Habitaciones: 2  <i class="fa fa-shower" aria-hidden="true"></i> Baños: 2 <i class="fa fa-map-o" aria-hidden="true"></i> m2: 2450
                                            </div>
                                            <div class="detail_list">
                                                La Reina Depto. 2 Ambiente, Estacionamiento.
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-right margin-button-form">
                                                        <button type="button" class="btn btn-primary  width_btn"><i class="fa fa-search-plus"></i> Ver detalle</button>
                                                        <!--<button type="button" class="btn btn-primary btn-sm width_btn" data-toggle="modal" data-target="#modal_contacto" ><i class="fa fa-envelope"></i> Contactar</button>-->
                                                        <button type="button" class="btn btn-primary  width_btn" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="card departure-card">
                            <div class="card-block ">
                                <div class="col-md-4 margin-left">
                                    <div id="carousel_prop2" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                          <li data-target="#carousel_prop2" data-slide-to="0" class=""></li>
                                          <li data-target="#carousel_prop2" data-slide-to="1" class=""></li>
                                          <li data-target="#carousel_prop2" data-slide-to="2" class="active"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item">
                                                <img id="img1" onClick="modal_details(this);" src="https://clvstc.com/up/photo/1/LXUMDqX4_077376bc49ef86b94abf1a6aafbbbaf5_small.jpg" alt="Los Angeles" style="width:100%;">
                                            </div>
                                            <div class="item">
                                                <img id="img2" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/Ie5kff3o_e6741ee781a81639d54ac8a51cb9b887_small.jpg" alt="Chicago" style="width:100%;">
                                            </div>

                                            <div class="item active">
                                                <img id="img3" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/BHkw07Mc_45eed4631d0cde791c5daea9f2552517_small.jpg" alt="New York" style="width:100%;">
                                            </div>
                                        </div>
                                        <!-- controls -->
                                        <a class="left carousel-control" href="#carousel_prop2" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel_prop2" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="margin-top-form search-key">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="label label-success">Inmobiliaria Alerce</span>
                                            </div>
                                            <div class="col-md-8 text-right">
                                                <div class="shared-panel pull-right">
                                                    <a target="_blank" class="shared fb" title="Comparte Facebook"></a>
                                                    <a target="_blank" class="shared tt" title="Comparte Twitter"></a>
                                                    <!--<a target="_blank" class="shared gp" title="Comparte Google+"></a>-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="place_list">Los aromos, Vitacura, Región Metropolitana</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <label class="date_list">11/09/2018</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="price_list">$ 820.000</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                         <span class="label label-danger">En Arriendo</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="additional_principal">
                                           <i class="fa fa-bed" aria-hidden="true"> </i> Habitaciones: 3  <i class="fa fa-shower" aria-hidden="true"></i> Baños: 1 <i class="fa fa-map-o" aria-hidden="true"></i> m2: 2450
                                        </div>
                                        <div class="detail_list">
                                            La Reina Depto. 1 Ambiente, Estacionamiento.
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-right margin-button-form">
                                                    <button type="button" class="btn btn-primary  width_btn"><i class="fa fa-search-plus"></i> Ver detalle</button>
                                                    <!--<button type="button" class="btn btn-primary btn-sm width_btn" data-toggle="modal" data-target="#modal_contacto" ><i class="fa fa-envelope"></i> Contactar</button>-->
                                                    <button type="button" class="btn btn-primary  width_btn" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card departure-card">
                            <div class="card-block ">
                                <div class="col-md-4 margin-left">
                                    <div id="carousel_prop3" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                          <li data-target="#carousel_prop3" data-slide-to="0" class=""></li>
                                          <li data-target="#carousel_prop3" data-slide-to="1" class=""></li>
                                          <li data-target="#carousel_prop3" data-slide-to="2" class="active"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item">
                                                <img id="img1" onClick="modal_details(this);" src="https://clvstc.com/up/photo/1/LXUMDqX4_077376bc49ef86b94abf1a6aafbbbaf5_small.jpg" alt="Los Angeles" style="width:100%;">
                                            </div>
                                            <div class="item">
                                                <img id="img2" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/Ie5kff3o_e6741ee781a81639d54ac8a51cb9b887_small.jpg" alt="Chicago" style="width:100%;">
                                            </div>

                                            <div class="item active">
                                                <img id="img3" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/BHkw07Mc_45eed4631d0cde791c5daea9f2552517_small.jpg" alt="New York" style="width:100%;">
                                            </div>
                                        </div>
                                        <!-- controls -->
                                        <a class="left carousel-control" href="#carousel_prop3" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel_prop3" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="margin-top-form search-key">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="label label-success">Inmobiliaria Siena</span>
                                            </div>
                                            <div class="col-md-8 text-right">
                                                <div class="shared-panel pull-right">
                                                    <a target="_blank" class="shared fb" title="Comparte Facebook"></a>
                                                    <a target="_blank" class="shared tt" title="Comparte Twitter"></a>
                                                    <!--<a target="_blank" class="shared gp" title="Comparte Google+"></a>-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="place_list">Martín de Zamora 4909, Las Condes, Región Metropolitana</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <label class="date_list">01/09/2018</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="price_list">$ 320.000</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                         <span class="label label-danger">En Venta</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="additional_principal">
                                           <i class="fa fa-bed" aria-hidden="true"> </i> Habitaciones: 3  <i class="fa fa-shower" aria-hidden="true"></i> Baños: 1 <i class="fa fa-map-o" aria-hidden="true"></i> m2: 2450
                                        </div>
                                        <div class="detail_list">
                                            La Reina Depto. 1 Ambiente, Estacionamiento.
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-right margin-button-form">
                                                    <button type="button" class="btn btn-primary  width_btn"><i class="fa fa-search-plus"></i> Ver detalle</button>
                                                    <!--<button type="button" class="btn btn-primary btn-sm width_btn" data-toggle="modal" data-target="#modal_contacto" ><i class="fa fa-envelope"></i> Contactar</button>-->
                                                    <button type="button" class="btn btn-primary  width_btn" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="page" id="page2">

                    <div class="row">
                        <div class="card departure-card">
                                <div class="card-block ">
                                    <div class="col-md-4 margin-left">
                                        <div id="carousel_prop4" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                              <li data-target="#carousel_prop4" data-slide-to="0" class=""></li>
                                              <li data-target="#carousel_prop4" data-slide-to="1" class=""></li>
                                              <li data-target="#carousel_prop4" data-slide-to="2" class="active"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item">
                                                    <img id="img1" onClick="modal_details(this);" src="https://clvstc.com/up/photo/1/LXUMDqX4_077376bc49ef86b94abf1a6aafbbbaf5_small.jpg" alt="Los Angeles" style="width:100%;">
                                                </div>
                                                <div class="item">
                                                    <img id="img2" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/Ie5kff3o_e6741ee781a81639d54ac8a51cb9b887_small.jpg" alt="Chicago" style="width:100%;">
                                                </div>

                                                <div class="item active">
                                                    <img id="img3" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/BHkw07Mc_45eed4631d0cde791c5daea9f2552517_small.jpg" alt="New York" style="width:100%;">
                                                </div>
                                            </div>
                                            <!-- controls -->
                                            <a class="left carousel-control" href="#carousel_prop4" data-slide="prev">
                                              <span class="glyphicon glyphicon-chevron-left"></span>
                                              <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel_prop4" data-slide="next">
                                              <span class="glyphicon glyphicon-chevron-right"></span>
                                              <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="margin-top-form search-key">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="label label-success">Inmobiliaria Siena2</span>
                                                </div>
                                                <div class="col-md-8 text-right">
                                                    <div class="shared-panel pull-right">
                                                        <a target="_blank" class="shared fb" title="Comparte Facebook"></a>
                                                        <a target="_blank" class="shared tt" title="Comparte Twitter"></a>
                                                        <!--<a target="_blank" class="shared gp" title="Comparte Google+"></a>-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9 text-left">
                                                            <label class="place_list">Jose Victorino Lastarria, Santiago, Región Metropolitana</label>
                                                        </div>
                                                        <div class="col-md-3 text-right">
                                                            <label class="date_list">01/09/2018</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-9 text-left">
                                                            <label class="price_list">$ 420.000</label>
                                                        </div>
                                                        <div class="col-md-3 text-right">
                                                             <span class="label label-danger">En Arriendo</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="additional_principal">
                                               <i class="fa fa-bed" aria-hidden="true"> </i> Habitaciones: 2  <i class="fa fa-shower" aria-hidden="true"></i> Baños: 2 <i class="fa fa-map-o" aria-hidden="true"></i> m2: 2450
                                            </div>
                                            <div class="detail_list">
                                                La Reina Depto. 2 Ambiente, Estacionamiento.
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-right margin-button-form">
                                                        <button type="button" class="btn btn-primary  width_btn"><i class="fa fa-search-plus"></i> Ver detalle</button>
                                                        <!--<button type="button" class="btn btn-primary btn-sm width_btn" data-toggle="modal" data-target="#modal_contacto" ><i class="fa fa-envelope"></i> Contactar</button>-->
                                                        <button type="button" class="btn btn-primary  width_btn" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="card departure-card">
                            <div class="card-block ">
                                <div class="col-md-4 margin-left">
                                    <div id="carousel_prop5" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                          <li data-target="#carousel_prop5" data-slide-to="0" class=""></li>
                                          <li data-target="#carousel_prop5" data-slide-to="1" class=""></li>
                                          <li data-target="#carousel_prop5" data-slide-to="2" class="active"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item">
                                                <img id="img1" onClick="modal_details(this);" src="https://clvstc.com/up/photo/1/LXUMDqX4_077376bc49ef86b94abf1a6aafbbbaf5_small.jpg" alt="Los Angeles" style="width:100%;">
                                            </div>
                                            <div class="item">
                                                <img id="img2" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/Ie5kff3o_e6741ee781a81639d54ac8a51cb9b887_small.jpg" alt="Chicago" style="width:100%;">
                                            </div>

                                            <div class="item active">
                                                <img id="img3" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/BHkw07Mc_45eed4631d0cde791c5daea9f2552517_small.jpg" alt="New York" style="width:100%;">
                                            </div>
                                        </div>
                                        <!-- controls -->
                                        <a class="left carousel-control" href="#carousel_prop5" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel_prop5" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="margin-top-form search-key">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="label label-success">Inmobiliaria Alerce</span>
                                            </div>
                                            <div class="col-md-8 text-right">
                                                <div class="shared-panel pull-right">
                                                    <a target="_blank" class="shared fb" title="Comparte Facebook"></a>
                                                    <a target="_blank" class="shared tt" title="Comparte Twitter"></a>
                                                    <!--<a target="_blank" class="shared gp" title="Comparte Google+"></a>-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="place_list">Los aromos, Vitacura, Región Metropolitana</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <label class="date_list">11/09/2018</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="price_list">$ 820.000</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                         <span class="label label-danger">En Arriendo</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="additional_principal">
                                           <i class="fa fa-bed" aria-hidden="true"> </i> Habitaciones: 3  <i class="fa fa-shower" aria-hidden="true"></i> Baños: 1 <i class="fa fa-map-o" aria-hidden="true"></i> m2: 2450
                                        </div>
                                        <div class="detail_list">
                                            La Reina Depto. 1 Ambiente, Estacionamiento.
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-right margin-button-form">
                                                    <button type="button" class="btn btn-primary  width_btn"><i class="fa fa-search-plus"></i> Ver detalle</button>
                                                    <!--<button type="button" class="btn btn-primary btn-sm width_btn" data-toggle="modal" data-target="#modal_contacto" ><i class="fa fa-envelope"></i> Contactar</button>-->
                                                    <button type="button" class="btn btn-primary  width_btn" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card departure-card">
                            <div class="card-block ">
                                <div class="col-md-4 margin-left">
                                    <div id="carousel_prop6" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                          <li data-target="#carousel_prop6" data-slide-to="0" class=""></li>
                                          <li data-target="#carousel_prop6" data-slide-to="1" class=""></li>
                                          <li data-target="#carousel_prop6" data-slide-to="2" class="active"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item">
                                                <img id="img1" onClick="modal_details(this);" src="https://clvstc.com/up/photo/1/LXUMDqX4_077376bc49ef86b94abf1a6aafbbbaf5_small.jpg" alt="Los Angeles" style="width:100%;">
                                            </div>
                                            <div class="item">
                                                <img id="img2" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/Ie5kff3o_e6741ee781a81639d54ac8a51cb9b887_small.jpg" alt="Chicago" style="width:100%;">
                                            </div>

                                            <div class="item active">
                                                <img id="img3" onClick='modal_details(this);' src="https://clvstc.com/up/photo/1/BHkw07Mc_45eed4631d0cde791c5daea9f2552517_small.jpg" alt="New York" style="width:100%;">
                                            </div>
                                        </div>
                                        <!-- controls -->
                                        <a class="left carousel-control" href="#carousel_prop6" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel_prop6" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="margin-top-form search-key">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="label label-success">Inmobiliaria Siena</span>
                                            </div>
                                            <div class="col-md-8 text-right">
                                                <div class="shared-panel pull-right">
                                                    <a target="_blank" class="shared fb" title="Comparte Facebook"></a>
                                                    <a target="_blank" class="shared tt" title="Comparte Twitter"></a>
                                                    <!--<a target="_blank" class="shared gp" title="Comparte Google+"></a>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="place_list">Martín de Zamora 4909, Las Condes, Región Metropolitana</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <label class="date_list">01/09/2018</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-9 text-left">
                                                        <label class="price_list">$ 320.000</label>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                         <span class="label label-danger">En Venta</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="additional_principal">
                                           <i class="fa fa-bed" aria-hidden="true"> </i> Habitaciones: 3  <i class="fa fa-shower" aria-hidden="true"></i> Baños: 1 <i class="fa fa-map-o" aria-hidden="true"></i> m2: 2450
                                        </div>
                                        <div class="detail_list">
                                            La Reina Depto. 1 Ambiente, Estacionamiento.
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="text-right margin-button-form">
                                                    <button type="button" class="btn btn-primary  width_btn"><i class="fa fa-search-plus"></i> Ver detalle</button>
                                                    <!--<button type="button" class="btn btn-primary btn-sm width_btn" data-toggle="modal" data-target="#modal_contacto" ><i class="fa fa-envelope"></i> Contactar</button>-->
                                                    <button type="button" class="btn btn-primary  width_btn" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <ul id="pagination-footer" class="pagination pull-right"></ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal_contacto" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="login-tabs">
                    <li id="tab-inicio" class="active"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Contactar al anunciante</li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body login-block">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div class="row">
                            <div class = "col-md-12">
                                <div class="form-group">
                                   <label>(*)Nombre y Apellido</label>
                                    <input id="nombre_contact" name="nombre_contact" type="text" class="form-control">
                                </div>
                            </div>
                            <div class = "col-md-6">
                                <div class="form-group">
                                    <label>(*)Correo electrónico</label>
                                    <input id="correo_contact" name="correo_contact" type="text" class="form-control">
                                </div>
                            </div>
                            <div class = "col-md-6">
                                <div class="form-group">
                                    <label>Teléfono contacto</label>
                                    <input id="fono_contact" name="fono_contact" type="text" class="form-control">
                                </div>
                            </div>
                             <div class = "col-md-12">
                                <div class="form-group">
                                    <label>(*)Mensaje</label>
                                    <textarea class="form-control" rows="5" id="message_contact" name="message_contact" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="margin-top-form-2 col-md-5 pull-right">
                                <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
                            </div>
                            <div class="col-md-12">
                                <label class="pull-right">(*) Datos obligatorios</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal_view" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body login-block">
                 xxx
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_script %}
<script>
    var posicionActual, posicionNueva = 0;
    $(document).ready(function(){
        $("#spn_orden").text("Orden por fecha pubicación mayor a menor");
        $('.carousel').each(function(e){
            $(this).carousel({
                interval: false
            });
        });
        $("#cmb_orden").change(function(){
            set_msg_order();
        });
        $('#pagination-footer').twbsPagination({
            totalPages: 2,
            startPage: 1,
            visiblePages: 2,
            initiateStartPageClick: true,
            href: false,
            hrefVariable: '{{number}}',
            first: 'Primero',
            prev: 'Previo',
            next: 'Siguiente',
            last: 'Final',
            loop: false,
            onPageClick: function (event, page) {
                $('.page-active').removeClass('page-active');
                $('#page'+page).addClass('page-active');
            },
            paginationClass: 'pagination',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            pageClass: 'page',
            activeClass: 'active',
            disabledClass: 'disabled'
        });
    });
    function set_msg_order(){
        var text_order = "Orden por " + $("#cmb_orden option:selected").text().toLowerCase();
        if ($(".order-opt").children().hasClass("fa-sort-alpha-desc"))
            text_order += " mayor a menor";
        else
            text_order += " menor a mayor";
        $("#spn_orden").text(text_order);
    }
    function load_order_msg(){
        var text_order = "Orden por " + $("#cmb_orden option:selected").text().toLowerCase();
        if ($(".order-opt").children().hasClass("fa-sort-alpha-desc")){
            $(".order-opt").children().removeClass("fa-sort-alpha-desc");
            $(".order-opt").children().addClass("fa-sort-alpha-asc");
            text_order += " menor a mayor";
        }else{
            text_order += " mayor a menor";
            $(".order-opt").children().removeClass("fa-sort-alpha-asc");
            $(".order-opt").children().addClass("fa-sort-alpha-desc");
        }
        $("#spn_orden").text(text_order);
    }
    function modal_details(obj){
        alert(obj.src);
    }
</script>
{% endblock %}