{% extends "base2.html" %}
{% block title %}Arriendos y ventas de propiedades{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="crumbs">
                <ul>
                    <li><a href="/"> Inicio</a></li>
                    <li ><a class = "current" href="#">Datos comercial</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <button id="btnDatosComerciales" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Datos comercial</button>
            <button id="btnPlanes" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-list-ol" aria-hidden="true"></i> Planes y productos</button>
            <button id="btnCuenta" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-user" aria-hidden="true"></i> Cuenta de usuario</button>
            <button id="btnDatosGenerales" type="button" class="margin-top-form margin-left-form top-button pull-right"><i class="fa fa-pencil" aria-hidden="true"></i> Datos generales</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row margin-button-form-2">
         <div class="col-md-3">
           <div>
                <div class="card-flat card-block ">
                   <div class="margin-left-form">
                   <div>
                        <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                        <label class="contenido"><span class="usernameLogin"></span></label>
                    </div>
                    <div>
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <label class="contenido"><span class="plan"></span></label>
                    </div>
                   </div>
                </div>
            </div>
            <div class="sticky border filtersContainer" id="filtersContainer">
                <div class="userOn filterContainer filtro p-4 bg-white">
                    <div class="panel_filter">
                        &nbsp;&nbsp;
                        <label class="destacado_lbl margin-top-form-4">Datos comercial</label>
                    </div>
                </div>
                <div class="userOn filterContainer filtro bg-white">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            Publicar aviso
                        </a>
                        <a href="/propiedades/" class="list-group-item list-group-item-action">Buscar propiedad</a>
                        <a href="#" class="list-group-item list-group-item-action">Servicios adicionales</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-9">
               <div class="card-flat departure-card card-block ">
                   <label class="titulo"><i class="fa fa-pencil" aria-hidden="true"></i> Mi configuración-datos comercial</label>
                   <br>
                    <div class="form-group col-md-6">
                        <label for="cmbTipo" class="titulo-campo-form">Tipo documento</label>
                        <select name="cmbTipo" id="cmbTipo" class="selectpicker" data-live-search="false" data-live-search-style="begins" title="">
                            <option value="1">Boleta</option>
                            <option value="2">Factura</option>
                        </select>
                    </div>
                    <form id="formDataComercialTicket" class="omb_loginForm" method="post" role="form">
                        <div class="form-row">
                             <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="txtRut" class="titulo-campo-form">(*) Rut</label>
                                            <input class="form-control" name="txtRut" id="txtRut" placeholder=""  required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label id="lblNombre" for="txtNombre" class=" titulo-campo-form">(*) Nombre</label>
                                            <input class="form-control" name="txtNombre" id="txtNombre" placeholder="" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <hr/>
                                        </div>
                                        <div class="form-group col-md-3">
                                           <button type="submit" id="btnGuardarPer" class="btn btn-large btn-primary btn-block">Guardar cambios</button>
                                        </div>
                                        <div class="form-group margin-top-form col-md-3">
                                           (*) Datos obligatorios
                                        </div>
                                    </div>
                            </div>
                        </div>
                   </form>
                   <form id="formDataComercialInv" class="omb_loginForm" method="post" role="form">
                        <div class="form-row">
                             <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="txtRut" class="titulo-campo-form">(*) Rut</label>
                                            <input class="form-control" name="txtRut" id="txtRut" placeholder=""  required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label id="lblNombreRazon" for="txtNombre" class=" titulo-campo-form">(*) Nombre o razon social</label>
                                            <input class="form-control" name="txtNombre" id="txtNombreRazon" placeholder="">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label for="txtGiro" class="titulo-campo-form">(*) Giro</label>
                                            <input class="form-control" name="txtGiro" id="txtGiro" placeholder=""  required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="txtDireccion" class=" titulo-campo-form">(*) Dirección</label>
                                            <input class="form-control" name="txtNombre" id="txtDireccion" required placeholder="">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="cmbUbicacion" class="titulo-campo-form">(*) Ubicación</label>
                                            <select class="selectpicker" name = "cmbUbicacion" id="cmbUbicacion" data-live-search="true"  >
                                                <option selected value="-1">Ubicación</option>
                                                {% for value,name in options.items %}
                                                    <option  value="{{value}}">{{name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <hr/>
                                        </div>
                                        <div class="form-group col-md-3">
                                           <button type="submit" id="btnGuardarEmp" class="btn btn-large btn-primary btn-block">Guardar cambios</button>
                                        </div>
                                        <div class="form-group margin-top-form col-md-3">
                                           (*) Datos obligatorios
                                        </div>
                                    </div>
                            </div>
                        </div>
                   </form>
               </div>
         </div>
    </div>
</div>
{% endblock %}
{% block content_script %}
<script>
    $(document).ready(function(){
        initLocal();
        loadTicket();
         $("#btnDatosGenerales").click(function(){
            window.location = "/usuarios/generales/editar";
        });
        $("#btnPlanes").click(function(){
            window.location = "/usuarios/planes/editar";
        });
        $("#btnCuenta").click(function(){
            window.location = "/usuarios/cuentas/editar";
        });
        $("#cmbTipo").change(function(){
            let factura = 2;
            if ($(this).val()==factura)
                loadInvoice();
            else
                loadTicket();
            resetInputForm();
        });
        $('#formDataComercialTicket,#formDataComercialInv').validator().on('submit', function (e) {
            if (!e.isDefaultPrevented()){
                alert(1);
            };
            return false;
        });
    });
    function initLocal(){
        $("#btnDatosComerciales").css("background","#DDDDDD");
        $('#formDataComercialTicket').validator();
    }
    function loadTicket(){
        $('#formDataComercialTicket').validator();
        $('#formDataComercialInvoice').validator('destroy');
        $("#formDataComercialTicket").show();
        $("#formDataComercialInv").hide();
    }
    function loadInvoice(){
        $('#formDataComercialTicket').validator('destroy');
        $('#formDataComercialInvoice').validator();
        $("#formDataComercialTicket").hide();
        $("#formDataComercialInv").show();
    }
    function resetInputForm(){
      $(":text").val("");
    }
</script>

{% endblock %}