.btn-secundary{
    color: #fff;
    background-color: #EB5300;
    border-color: #EB5300;
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

.panel-body{
    background-color: #FCFCFC;
}
.destacado_lbl{
    font-size:18px;
}

/*Destacados etiqueta*/
.destacado_sale{
    position: absolute;
    right: -5px;
    background: #EB5300;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 500;
    top: 18px;
    z-index:900;
    font-size: 12px;
}
.destacado_sale:before{
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}
.destacado_sale:before {
   content: "\f005";
}
.destacado_rental{
    position: absolute;
    right: -5px;
    background: #EB5300;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 500;
    top: 18px;
    z-index:900;
    font-size: 12px;
}
.destacado_rental:before{
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}
.destacado_rental:before {
   content: "\f005";
}
/*Fin Destacados etiqueta*/

.search-form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 15px 5px;
    min-height : 230px;

}
.range-form {
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 15px 5px;
    min-height : 100px;
}

/* margenes */
.vertical-align-form{
    margin-top:3%;
}
.horizontal-align-center-form{
    text-align:center;
}
.margin-left-form{
    margin-left:5px;
}
.margin-left-form-2{
    margin-left:10px;
}
.margin-right-form{
    margin-right:5px;
}
.margin-right-form-2{
    margin-right:10px;
}
.margin-top-form{
    margin-top:15px;
}
.margin-button-form{
    margin-button:5px;
}
.margin-top-form-2{
    margin-top:20px;
}
.margin-top-form-3{
    margin-top:15px;
}
.margin-top-form-4{
    margin-top:5px;
}
.margin-list{
    margin:10px;
}
/* fin margenes */

.width_btn{
    min-width:100px;
}
.headline-span {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(221, 72, 20, 0.7);
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 10px;
}
.headline-span-small {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(221, 72, 20, 0.7);
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 10px;
}
.box_range_form{
    background-color: #ffffff;
    color: #95A2C1;
    width: 100%;
    border-color: #cccccc;
    text-align: left;
    font-size:15px;
    border-radius:4px;
    height: 40px;
}
/*
#keyword{
    color:#ffffff;
}
*/
.img_tipo_persona_responsive{
    display: block;
    max-width: 100%;
    min-height: 350px;
}
.login-tabs .fa-user-circle-o{
    color: #004175;
}
.login-tabs .fa-pencil{
    color: #004175;
}
.box_list{
    border : 1px solid #ccc;
    background-color:#fff;
}
.detail_list_principal , .detail_list{
    font-weight:500;
}
.additional_principal{
    font-size:small;
}
.img_list_principal{
    width:80%;
    margin-left:-15px;
}

/* Listado Propiedades*/
/* Filtro */
#filters  .filtro {
    /* border-bottom: 1px solid #ccc; */
    padding: 15px;
}
.filtersContainer {
    margin:3px;
    border-color: #ccc!important;
    border: 1px solid #ccc!important;
    background-color: #fff;
}
.filtersContainer  .filtro{
    margin:5px;
}
.panel_filter{
    background-color:#cccccc;
    color:#fff;
    height: 50px;
}
/* Item de lista */
.margin_list{
    margin-left:-30px;
}
.price_list{
    font-size: 22px;
    font-weight: 500;
}
.date_list_principal , .place_list_principal , .place_list , .date_list {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 11px;
    color: #A0A0A0;
    margin-top: 10px;
}
/* Fin Listado Propiedades*/

/* iconos redes sociales */
.shared-panel{
	overflow: auto;
}
.shared-panel span{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.shared {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px 0;
	padding: 0;
        /* Recurso incluido en la descarga del ejemplo */
	background: url("../img/shared_social.png") no-repeat;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 50%;
}
.shared:hover{
	opacity: 0.7;
}
.shared.gp {background-position: 0px 0px; background-color: #E62B34;}
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.wa {background-position: 0px -90px; background-color: #0dc143;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}

.st2{
   border-radius: 0;
}
.st3{
   border-radius: 5px;
}



/* fin iconos redes sociales */

/* marco tipo card */
.card {
    margin: 10px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.24);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .2857142857rem;
}
.card-block {
    padding: 1.4285714286rem 1.1428571429rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.1428571429rem;
}
