@media (min-width: 1200px){
    .container {
        width: 1300px;
    }
    .advanced-search-sticky{
        display: block!important;
    }
    #dv_tipo_persona_mob{
        display: none;
    }
}
@media only screen and (max-width:991px) {
    .header-mobile {
        display: block;
        background-color: #ffffff;
    }
    .header-mobile .header-user {
        text-align: right;
        float: right;
        width: 40%;
        font-size: 10px;
    }

    .header-mobile .user-icon {
        font-size: 14px;
        color:#EB5300;
    }
    .user-label {
        font-size: 11px;
        color:#EB5300;
        font-weight: normal;
        text-transform: uppercase;

    }
    .publish-icon {
        font-size: 14px;
        color:#004272;
    }
    .publish-label {
        font-size: 11px;
        color:#EB5300;
        font-weight: normal;
        text-transform: uppercase;

    }
    .fa-navicon{
        color:#EB5300;
    }
    .fa-user {
        color:#004272;
    }
    .header-section,
    .header-section-4 {
        display: none
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .header-mobile .header-logo {
        text-align: left;
    }
    .houzez-module .module-title-nav h2 {
        font-size: 16px;
    }
    .houzez-module .module-title-nav .module-nav {
        width: 100%
    }
    .advanced-search-sticky{
        display: none;
    }
    .section-body{
        padding-top:0px;
    }

    #font_title1{
        font-size:12px;
    }
    #font_title2{
        font-size:10px;
    }
    #lbl_srch_prop{
        display: none;
    }
    #lbl_srch_map{
        display: none;
    }
    #dv_ico_mobil{
        max-height: 25px;
    }
    #btn_Buscar_mob{
        width:100%;
    }
    #img_persona{
        display:none;
    }
    #img_corredor{
        display:none;
    }
    #img_inmobiliaria{
        display:none;
    }
    #dv_tipo_persona{
        display: none;
    }
    #dv_tipo_persona_mob{
        display:block;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .header-section-4 .header-right {
        width: 30%
    }
    .header-section-4 .header-left {
        width: 70%
    }
    #dv_tipo_persona_mob{
        display:none;
    }
}