.btn-secundary{
    color: #fff;
    background-color: #EB5300;
    border-color: #EB5300;
}
.btn-large {
    padding: 9px 27px;
    font-size: 16px;
}
.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

.panel-body{
    background-color: #FCFCFC;
}
.destacado_lbl{
    font-size:15px;
    font-weight: 500;
}
.destacado_lbl2{
    font-size:16px;
    font-weight: 500;
}
.destacado_precio{
    font-weight: bold;
    font-size: x-large;
}
.destacado_item{
    font-weight: bolder;
    font-size: medium;
}
.titulo{
    font-weight: bolder;
    padding:10px;
    font-size: 22px;
    border-bottom: 1px solid #E4E4E4;
}
.titulo-sb {
    font-weight: bolder;
    padding: 10px;
    font-size: 22px;
}
.titulo-campo-form{
    font-weight: bold;
    font-size: 14px;
}
.contenido{
    font-size : medium;
}
.orange_label{
    background-color:#FB6A19;
    color:#ffffff;
}
.light_blue_label{
    background-color:#00AEEF;
    color:#ffffff;
}
.dark_blue_label{
    background-color:#007FAD;
    color:#ffffff;
}
/*Destacados etiqueta*/
.destacado_sale{
    position: absolute;
    right: -5px;
    background: #EB5300;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 500;
    top: 18px;
    z-index:900;
    font-size: 12px;
}
.destacado_sale:before{
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}
.destacado_sale:before {
   content: "\f005";
}
.destacado_rental{
    position: absolute;
    right: -5px;
    background: #EB5300;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 500;
    top: 18px;
    z-index:900;
    font-size: 12px;
}
.destacado_rental:before{
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}
.destacado_rental:before {
   content: "\f005";
}
/*Fin Destacados etiqueta*/

.search-form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 15px 5px;
    min-height : 230px;

}
.range-form {
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 15px 5px;
    min-height : 100px;
}

/* margenes */
.vertical-align-form{
    margin-top:3%;
}
.horizontal-align-center-form{
    text-align:center;
}
.margin-left-form{
    margin-left:5px;
}
.margin-left-form-2{
    margin-left:10px;
}
.margin-right-form{
    margin-right:5px;
}
.margin-right-form-2{
    margin-right:10px;
}
.margin-top-form{
    margin-top:15px;
}
.margin-button-form{
    margin-bottom:5px;
}
.margin-button-form-2{
    margin-bottom:10px;
}
.margin-top-form-2{
    margin-top:20px;
}
.margin-top-form-3{
    margin-top:15px;
}
.margin-top-form-4{
    margin-top:5px;
}
.margin-top-form-5{
    margin-top:-15px;
}
.margin-top{
    padding-top:95px;
}
.margin-list{
    margin:10px;
}
/* fin margenes */

.width_btn{
    min-width:100px;
}
.width_btn_2
{
    width:100%;
}
.headline-span {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(221, 72, 20, 0.7);
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 10px;
}
.headline-span-small {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(221, 72, 20, 0.7);
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 10px;
}
.box_range_form{
    background-color: #ffffff;
    color: #353535;
    width: 100%;
    border-color: #cccccc;
    text-align: left;
    font-size:15px;
    font-weight:500;
    border-radius:4px;
    /*height: 40px;*/
}
.img_tipo_persona_responsive{
    display: block;
    max-width: 100%;
    min-height: 350px;
}
.login-tabs .fa-user-circle-o, .login-tabs .fa-pencil{
    color: #004175;
}

.box_list{
    border : 1px solid #ccc;
    background-color:#fff;
}
.detail_list_principal , .detail_list{
    font-weight:500;
}
.additional_principal{
    font-size:small;
}
.img_list_principal{
    max-width:90%;
    margin-left:-15px;
}

/* Listado Propiedades*/
/* Filtro */
#filters  .filtro {
    /* border-bottom: 1px solid #ccc; */
    padding: 15px;
}
.filtersContainer {
    margin:3px;
    border-color: #ccc!important;
    border: 1px solid #ccc!important;
    background-color: #fff;
}
.filtersContainer  .filtro{
    margin:4px;
}
.panel_filter{
    background-color:#8E8E8E;
    color:#fff;
}
/* Item de lista */
.margin_list{
    margin-left:-30px;
}
.price_list{
    font-size: 22px;
    font-weight: 500;
}
.date_list_principal , .place_list_principal , .place_list , .date_list {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 11px;
    color: #A0A0A0;
    /*margin-top: 10px;*/
}
.place_list_principal_2{
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 14px;
    color: #A0A0A0;
}
.sort_list{
    color:#606060;
    font-size: 14px;
}
/* Fin Listado Propiedades*/

/* iconos redes sociales */
.shared-panel{
	overflow: auto;
}
.shared-panel span{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.shared {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px 0;
	padding: 0;
        /* Recurso incluido en la descarga del ejemplo */
	background: url("../img/shared_social.png") no-repeat;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 50%;
}
.shared:hover{
	opacity: 0.7;
}
.shared.gp {background-position: 0px 0px; background-color: #E62B34;}
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.wa {background-position: 0px -90px; background-color: #0dc143;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}

.st2{
   border-radius: 0;
}
.st3{
   border-radius: 5px;
}

/* fin iconos redes sociales */

/* Slider opcion */
.switch {
  position: relative;
  display: inline-block;
  min-width: 80px;
  height: 30px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #89C63A;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Fin Slider opcion */

/* marco tipo card */
.card {
    margin: 10px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.24);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .2857142857rem;
}
.card2 {
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.24);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .2857142857rem;
}
.card-flat {
    margin: 4px;
    border: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .2857142857rem;
}
.card-block {
    padding: 1.4285714286rem 1.1428571429rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.1428571429rem;
}
/* fin marco tipo card */

.important{
    font-weight:500
}

/*planes*/
.btn-custom {
    color: #bdc3c7;
    font-size: 18px;
    border: 1px solid #bdc3c7
}
.btn-custom:hover {
    color: #fff;
    border: 1px solid #fff
}
#pricing-table {
    padding-top: 50px
}
#pricing-table .pricing {
    marign: 0;
    padding: 0;
    font-family: robot, sans-serif
}
#pricing-table .pricing .pricing-table {
    padding-bottom: 30px
}
#pricing-table .pricing .pricing-table .pricing-header {
    position: relative;
    background: #024176;
    padding: 22px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
    color: #FC691B;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    position: relative;
    text-align: center
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
    font-size: 24px;
    position: relative;
    top: -30px;
    color: #bdc3c7
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
    font-size: 16px;
    color: #bdc3c7;
    text-transform: uppercase
}
#pricing-table .pricing .pricing-list {
    padding: 20px 0 40px;
    background: #fff;
    border: 1px solid #ccc;
}
#pricing-table .pricing .pricing-list ul {
    padding: 0;
    display: table;
    margin: 0 auto
}
#pricing-table .pricing .pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #eaeceb;
    color: #bdc3c7;
    font-size: 16px;
    line-height: 42px
}
#pricing-table .pricing .pricing-list ul li:last-child {
    border: none
}
#pricing-table .pricing .pricing-list ul li i {
    margin-right: 12px;
    color: #bdc3c7
}
#pricing-table .pricing .pricing-list ul li span {
    color: #34495e
}
/* fin planes*/
