.btn-secundary{
    color: #fff;
    background-color: #EB5300;
    border-color: #EB5300;
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

.panel-body{
    background-color: #FCFCFC;
}
.destacado_lbl{
    font-size:18px;
}

/*Destacados etiqueta*/
.destacado_sale{
    position: absolute;
    right: -5px;
    background: #EB5300;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 500;
    top: 18px;
    z-index:900;
    font-size: 12px;
}
.destacado_sale:before{
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}
.destacado_sale:before {
   content: "\f005";
}
.destacado_rental{
    position: absolute;
    right: -5px;
    background: #EB5300;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 500;
    top: 18px;
    z-index:900;
    font-size: 12px;
}
.destacado_rental:before{
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}
.destacado_rental:before {
   content: "\f005";
}
/*Fin Destacados etiqueta*/

.search-form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 15px 5px;
    min-height : 230px;

}
.range-form {
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 15px 5px;
    min-height : 100px;
}
.vertical-align-form{
    margin-top:3%;
}
.horizontal-align-center-form{
    text-align:center;
}
.margin-left-form{
    margin-left:5px;
}
.margin-left-form-2{
    margin-left:10px;
}
.margin-right-form{
    margin-right:5px;
}
.margin-top-form{
    margin-top:5px;
}
.margin-button-form{
    margin-button:5px;
}
.margin-top-form-2{
    margin-top:20px;
}
.margin-top-form-3{
    margin-top:15px;
}
.headline-span {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(221, 72, 20, 0.7);
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 10px;
}
.headline-span-small {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgba(221, 72, 20, 0.7);
    padding: 3px 10px;
    color: #fff;
    margin-bottom: 10px;
}
.box_range_form{
    background-color: #ffffff;
    color: #95A2C1;
    width: 100%;
    border-color: #cccccc;
    text-align: left;
    font-size:15px;
    border-radius:4px;
    height: 40px;
}
#keyword{
    color:#ffffff;
}
.img_tipo_persona_responsive{
    display: block;
    max-width: 100%;
    min-height: 350px;
}
.login-tabs .fa-user-circle-o{
    color: #004175;
}
.login-tabs .fa-pencil{
    color: #004175;
}
.box_list{
    border : 1px solid #ccc;
    background-color:#fff;
}

/* Listado Propiedades*/
/* Filtro */
#filters  .filtro {
    /* border-bottom: 1px solid #ccc; */
    padding: 15px;
}
.filtersContainer {
    margin:3px;
    border-color: #ccc!important;
    border: 1px solid #ccc!important;
    background-color: #fff;
}
.filtersContainer  .filtro{
    margin:5px;
}
.panel_filter{
    background-color:#004171;
    color:#fff;
    height: 50px;
}
/* Item de lista */
.margin_list{
    margin-left:-30px;
}
.title_list{

}
.detail_list{

}
.price_list{
    font-size: 22px;
    font-weight: 500;
}
.date_list , .place_list {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 12px;
    color: #C0C0C0;
    margin-top: 10px;
}
/* Fin Listado Propiedades*/

