{% extends "base2.html" %}
{% block title %}Arriendos y ventas de propiedades{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="crumbs">
                <ul>
                    <li><a href="/"> Inicio</a></li>
                    <li ><a class = "current" href="#">Planes y productos</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <button id="btnDatosComerciales" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Datos comercial</button>
            <button id="btnPlanes" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-list-ol" aria-hidden="true"></i> Planes y productos</button>
            <button id="btnCuenta" type="button" class="margin-top-form top-button pull-right"><i class="fa fa-user" aria-hidden="true"></i> Cuenta de usuario</button>
            <button id="btnDatosGenerales" type="button" class="margin-top-form margin-left-form top-button pull-right"><i class="fa fa-pencil" aria-hidden="true"></i> Datos generales</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row margin-button-form-2">
         <div class="col-md-3">
           <div>
                <div class="card-flat card-block ">
                    <div class="margin-left-form">
                    <div>
                        <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                        <label class="contenido"><span class="usernameLogin"></span></label>
                    </div>
                    <div>
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <label class="contenido"><span class="plan"></span></label>
                    </div>
                    </div>
                </div>
            </div>
            <div class="sticky border filtersContainer" id="filtersContainer">
                <div class="userOn filterContainer filtro p-4 bg-white">
                    <div class="panel_filter">
                        &nbsp;&nbsp;
                        <label class="destacado_lbl margin-top-form-4">Opciones planes y productos</label>
                    </div>
                </div>
                <div class="userOn filterContainer filtro bg-white">
                    <div class="list-group">
                        <a href="/propiedades/publicar/" class="list-group-item list-group-item-action"><i class="fa fa-pencil pull-right" aria-hidden="true"></i> Publicar aviso</a>
                        <a href="/propiedades/" class="list-group-item list-group-item-action"><i class="fa fa-binoculars pull-right" aria-hidden="true"></i> Buscar propiedad</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-cog pull-right" aria-hidden="true"></i> Servicios adicionales</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-9">
               <div class="card-flat departure-card card-block ">
                   <label class="titulo"><i class="fa fa-list-ol" aria-hidden="true"></i> Mi configuración-planes y productos</label>
                   <br>
                   <form id="formDataPlan" class="omb_loginForm" method="post" role="form">
                       <table class="table table-striped" id="tblPlan">
                        <thead>
                            <tr>
                               <th>PLANES</th>
                                <th>PRECIO</th>
                                <th>ACCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        </table>
                   </form>
               </div>
                <!--<a href="#0" class="js-cd-add-to-cart" data-price="25.99">Add To Cart</a>-->

         </div>
    </div>
</div>


{% endblock %}
{% block content_script %}
<script>
    $(document).ready(function(){
        initLocal();
        loadDataForm();
        $("#btnDatosGenerales").click(function(){
            window.location = "/usuarios/generales/editar";
        });
        $("#btnCuenta").click(function(){
            window.location = "/usuarios/cuentas/editar";
        });
        $("#btnDatosComerciales").click(function(){
            window.location = "/usuarios/comerciales/editar";
        });
    });
    function addPlan(){
        $(".js-cd-add-to-cart").click();
    }
    function initLocal(){
          /*
          $('#tblPlan').DataTable(
            {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            "responsive": true,
            "searching": false,
            "paging":   false,
            "ordering": false,
            "info":     false
            }
        );
        */
        $(".titulo").find("i").css("color","#007FAD");
        $(".list-group a").each(function(index){
            $(this).find("i").css("color","#007FAD");
        })
        $("#btnPlanes").find("i").css("color","lightseagreen");
        $("#btnPlanes").css("border-color","lightseagreen");
        $("#btnPlanes").css("background","#DDDDDD");
    }
    function loadDataForm(){
        token = localStorage.token;
        var htmlBody = "";
        if (token!=""){
            $.ajax
            ({
              type: "GET",
              url: "/usuarios/planes",
              async: true,
              dataType: 'json',
              beforeSend : function(req) {
                req.setRequestHeader('Authorization', localStorage.token);
              },
              success: function (data){
                if (data.error!='1'){
                    var lista = data.list
                    //$('#tblPlan').DataTable().destroy();
                    $.each(lista, function(i,item){
                        htmlBody += "<tr id = 'item_" + lista[i].nid_plan_contrato +  "' role='row'>";
                        htmlBody += "<td>" + lista[i].snombre_plan_contrato + "</td>";
                        htmlBody += "<td>$5.000 + IVA </td>";
                        htmlBody += "<td>Ver detalle</td>";
                        if (lista[i].plan_actual==false){
                            if (i>0)
                                htmlBody += "<td><a id = '1" + lista[i].nid_plan_contrato +  "' href='#0' class='btn btn-secundary fa-xs js-cd-add-to-cart' data-price='5.000'>Contratar</a>  </td>";
                        }else{
                            htmlBody += "<td>Plan actual</td>";
                        }
                        htmlBody += "</tr>";
                    });
                    $('#tblPlan > tbody').html(htmlBody);
                    //$('#tblPlan').DataTable().draw();
                    //$('#tblPlan').DataTable.ajax.reload();
                }else{
                    error_msg("Error",data.msg,2500);
                }
              },
              error: function(xhr, status, error) {
                error_msg("Error","Se ha producido un error. Intente realizar esta acción nuevamente.",2500);
              }
            });

        }
    }
</script>
{% endblock %}